@media (max-width: 1460px) {
    // .header__phones {
    //     margin-left: 180px !important;
    // }
}
@media (max-width: 1316px) {
    .header__nav {
        display: none;
    }
    .cm__flex {
        width: 100%;
    }
    // .header__phones {
    //     margin-left: 20px !important;
    // }
    .o_xs_menu{
        display: block !important;
    }
    .xs_menu{
        display: block !important;
    }
  
    .header__nav__burger{
        display: block !important;
        margin-left: 0 !important;
        & ul{
            flex-direction: column;
            gap: 30px 0 !important;
        }
    }
    // .header__phone{
    //     margin-top: 40px;
    //     text-align: center;
    // }
    // .header__phone_btn{
    //     text-align: center;
    //     margin-top: 25px;
    // }
    .header__phone_btn__mob{
        display: block !important;
    }
    .header__phone__mob{
        display: flex !important; 
    }
    // .header__phones{
    //     display: none !important;
    // }
}
@media (max-width: 770px) {
    .header {
        padding: 20px 0 !important;
    }
    .xs_cont {
        max-width: 350px !important;
    }
    .wrapper__bureger_items {
        padding: 10px !important;
        padding-top: 60px !important;
    }

}
@media (max-width: 655px) {
    .sec-1__block {
        margin-top: 150px !important;
        padding: 30px !important;
    }
    .sec-1__img {
        top: -35px !important;
    }
    .sec-1__text {
        min-width: 210px !important; 
        font-size: 18px !important;
        line-height: 130%;
    }
    .sec-1__sub {
        max-width: 252px !important;
        margin-top: 10px !important;
        font-size: 14px !important;
        line-height: 23px !important;
    }
    .btn {
        font-size: 14px !important;
    }
    .sec-1__btn {
        margin-top: 40px !important;
    }
    .sec-1__img > img {
        width: 100% !important;
        height: 444px !important;
        top: -363px !important;
    }
    .section-1 {
        margin-bottom: 46px !important;
    }
    .section-3 {
        padding: 50px 0 !important;
    }
    .hr__sec-1 {
        width: 70px !important;
        height: 5px !important;
    }
    .footer_t {
        font-size: 24px !important;
    }
    .hr__usl {
        width: 56px !important;
        height: 3px !important;
        margin-bottom: 0 !important;
    }
    .t__sub {
        margin-top: 10px !important;
        max-width: 295px !important;
        font-size: 14px !important;
    }
    .container__slides {
        margin-top: 40px !important;
    }
    .xs_cont {
        max-width: 310px !important;
    }
    .cm__footer {
        flex-direction: column;
    }
    .footer_1 {
        margin-bottom: 8px;
    }
    .footer_1 {
        margin-bottom: 8px !important;
    }
    .footer_sub {
        font-size: 16px !important;
    }
    .footer__link {
        font-size: 16px !important;
    }
    .footer__nav > img {
        margin-right: 14px !important;
    }
    .footer__nav_email {
        margin-top: 15px !important;
    }
    .footer__r {
        margin-top: 40px;
    }
    .footer {
        padding: 20px 0 !important;
    }
    .slide__t {
        font-size: 20px !important;
    }
    .slide__sub {
        margin-top: 2px !important;
        font-size: 15px !important;
    }
    .slide {
        padding: 20px !important;
    }
}

    @media (max-width: 555px) {
        .header__phone_btn{
            display: none !important;
        }
        .link__phone {
            font-size: 14px !important;
            line-height: 20px !important;
        }
}